:host {
  background: white;
  box-shadow: 10px 15px 10px #ccc;
  color: rgba(0, 0, 0, 0.87);
}

#container {
  display: -webkit-flex;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -webkit-flex-flow: column;
  flex-flow: column;
  overflow: hidden;
}

#main {
  -webkit-flex: 1 auto;
  flex: 1 auto;
  -ms-flex: 1 auto;
  height: auto;
  -webkit-order: 1;
  order: 1;
  -ms-flex-order: 1;
  padding: 24px;
  overflow: auto;
}

h1 {
  margin: 0;
}


#actions {
  display: -webkit-flex;
  display: flex;
  display: -ms-flexbox;
  -webkit-order: 2;
  order: 2;
  -ms-flex-order: 2;
  padding: 4px 16px 20px;
  /* TODO(ykyip): why do we need this? */
  min-height: 32px;
}


#actions > [flex] {
  -webkit-flex: 1;
  flex: 1;
  -ms-flex: 1;
}

::content > [affirmative],
::content > [dismissive] {
  font: inherit;
  border: 0;
}
